body
{
    background-color: black;
    z-index: -1;
}

.serato-images
{
    opacity: 0;
}

/** @keyframes fade-in
{
    from
    {
        opacity: 0;
    }
    to
    {
        opacity: 100;
    }  
}

@keyframes left-right
{
    from
    {
        width: 0%;
    }
    to
    {
        width: 100%;
    }
}

.img-fade-in
{
    -o-animation-iteration-count: 2;
    -o-animation-direction: alternate;
    -o-animation: fade-in 3s ease-in 5s;

    animation: fade-in 3s ease-in 5s;
    animation-direction: alternate;
    animation-iteration-count: 2;
}

.img-fade-in-2
{

    -o-animation-iteration-count: 2;
    -o-animation-direction: alternate;
    -o-animation: fade-in 3s ease-in-out 9s;

    animation: fade-in 3s ease-in-out 10s;
    animation-direction: alternate;
    animation-iteration-count: 2;
}

black-bg
{
    animation: left-right 5s ease-in 10s;
} **/